@font-face {
  font-family: 'cafe';
  src: url('/fonts/Cafe24PROUP.woff2') format('woff');
}
@font-face {
  font-family: 'esamanru';
  src: url('/fonts/esamanru Medium.ttf') format('truetype');
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 120px;
}

.logo {
  width: 140px;
  height: 50px;
  margin-left: 30px;
}

.nav {
  display: flex;
  gap: 5px; /* 간격을 줄여 글자 위치를 왼쪽으로 이동 */
  font-size: 24px;
}

.nav-link {
  text-decoration: none;
  color: gray;
  font-size: 22px !important; /* 모든 상태에서 글자 크기를 강제로 20px로 설정 */
  margin-right: 30px; /* 글자를 추가로 왼쪽으로 이동 */
  font-family: 'esamanru', sans-serif;
}

.nav-link.active {
  color: rgb(34, 34, 34);
  font-family: 'esamanru', sans-serif;
}
