@import './common.css';

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.logo {
  width: 150px;
  height: auto;
}

.nav {
  display: flex;
  gap: 50px;
}

.nav-link {
  text-decoration: none;
  color: gray;
  font-size: 16px;
}

.nav-link.active {
  color: black;
  font-weight: bold;
}

.main-content {
  padding: 20px;
  
}

.intro-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-image {
  width: 350px;
  height: auto;
  align-items: center;
  margin-right: 200px;
}

.intro-text {
  margin: 70px;
  font-size: 40px;
  font-family: 'esamanru', sans-serif;
  color: #ffffff;
}

.intro-plus {
  margin-left: 70px;
  font-size: 50px;
  font-family: 'esamanru', sans-serif;
  color: #ffffff;
}

.intro-footer {
  text-align: right;
  margin: 100px;
  font-size: 28px;
  font-family: 'esamanru', sans-serif;
  color: #ffffff;
}
